body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

li {
    list-style-type: none;
    padding-right: 20px;
}

.nav {
    padding: 20px;
    background-color: antiquewhite;
}

ul {
    display: flex;
    margin: auto;
    padding-right: 20px;
}

li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

section {
    display: flex;
    /* padding-bottom: 50px; */
    background-color: antiquewhite;

}

.div1 {
    width: 50%;
    padding: 50px;
    /* height: 50%; */
    /* text-align: justify; */
}

p {
    text-align: justify;
}

div img {
    width: 100%;
}

.div1 p {
    margin-bottom: 25px;
}

div.a {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    /* background-color: rgb(255, 186, 47); */
    font-size: 22px;
    font-weight: 400;
    color: orange;
    /* box-shadow: 4px 4px 80px lightgray; */
    border: 2px solid orange;
}

h1 {
    font-size: 50px;
    font-weight: 900;
}

h2 {
    font-size: 30px;
}

.pac {
    box-shadow: 10px 10px 40px lightgray;
    border-radius: 20px;
    width: 35%;
    margin: 40px auto;
    border-left: 4px solid black;
    background-color: white;
}